<!-- app/views/users/index.html.erb -->
<table border="1">
  <% @users.each do |u| %>
     <tr>
        <td> <%= u.name %> </td>
        <td> <%u.username %> </td>
     </tr>
  <% end %>
</table>
<%= link_to "Add Users", :controller => "users", :action => "new" %>
